*{
  box-sizing: border-box;
}
h1{
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 550%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.grid-layout{
  
  display: flex;              /* display flex*/
  width: 40%;
  height: 500px;
  padding: 0;
  flex-wrap: wrap;
  margin-left: 30%;
  position: relative; 
  background: url("/images/DungeonMap1.jpg"); 
  background-size: 100% 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile{
  
  width: 6.6667%;
  height: 6.6667%;
  margin: 0;
  padding: 0;
  /*background-color: rgb(189, 177, 139);*/
  background-size: contain;
  border: 1px solid  black;
   
}
.character{
  display: flex;
  width: 6.6667%;
  height: 6.6667%;   
  /*background-color: green;*/
  position: absolute;
  background: url("/images/hero.png");
  background-size: 100% 100%;
  left: calc(0 * 6.6667%);   
  top: calc(7 * 6.6667%); 
  border: 1px solid black;
}

.tile-type-W {
  background-color: rgba(80, 54, 37, 0.2); 
  /*background-image: url('/img/DungeonMap1.jpg'); */
}

.char-info{
  display: flex;
  justify-content: space-around;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0;
  padding:0;
  font-family: monospace;
  font-size: 200%;
}

/*.tile-type-C{
  background-color: rgb(42, 0, 141);  
}*/

button{
  display: flex;
  justify-content: center;
  background-color: gray;
  border-radius: 10px;
  padding: 5%;
  color: white;
  font-family: monospace;
}
.buttons-div{
  margin: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  display: block;
  width: 50px;
  height: 50px;
}*/